* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* Common */
a {
    text-decoration: none;
}
.container {
    margin: 0 auto;
    width: 1140px;
    max-width: calc(100% - 48px);
}
.btn {
    display: inline-block;
    min-width: 173px;
    --height: 57px;
    height: var(--height);
    border-radius: 40px;
    border: 1.5px solid #143c3c;
    background: var(--Primary-color-black-green, #143c3c);
    color: var(--text-color-white, #fff);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: var(--height);
}
.btn:hover {
    opacity: 0.9;
}
.section-subtitle {
    position: relative;
    left: 50px;
    color: #152427;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
}
.section-subtitle::before {
    position: absolute;
    left: -50px;
    bottom: 16px;
    content: "";
    display: inline-block;
    width: 25px;
    height: 2px;
    flex-shrink: 0;
    background: #152427;
}
.section-heading {
    max-width: 520px;
    color: var(--Primary-color-black, #152427);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}
.section-heading::after {
    margin-bottom: 10px;
    margin-left: 10px;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: #152427;
}
.control {
    display: flex;
    column-gap: 17px;
}
.control__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 50%;
    background: #e2eddf;
    color: #152427;
    border: none;
}
.control__btn:nth-child(2) {
    rotate: 180deg;
}
.control__btn:hover {
    cursor: pointer;
    color: #fff;
    background: #152427;
}
.section-desc {
    color: var(--text-color-light-gray, #7d8188);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.63;
}
/* Header */
.header {
    min-height: 100vh;
    padding-top: 30px;
    font-family: "Public Sans", sans-serif;
}
.header-top {
    position: relative;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-top::after {
    position: absolute;
    bottom: 0;
    content: "";
    display: inline-block;
    width: 1140px;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}
.navbar {
    margin-left: auto;
    margin-right: 88px;
}
.navbar__list {
    display: flex;
    align-items: center;
}
.navbar__link {
    padding: 4px 19px;
    color: var(--text-color-black-gray, #575d5e);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}
.navbar__link:hover,
.navbar__link-active {
    text-shadow: 1px 0 0 currentColor;
}
.navbar__link-active {
    position: relative;
}
.navbar__link-active::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 16px;
    height: 2px;
    bottom: -25px;
    left: 19px;
    background: var(--Primary-color-black-green, #143c3c);
}
.hero {
    display: flex;
    margin-top: 60px;
}
.hero__content {
    margin-top: 43px;
    width: 43%;
}
.hero__heading {
    max-width: 368px;
    color: var(--Primary-color-black, #152427);
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}
.hero__desc {
    max-width: 341px;
    margin-top: 20px;
    color: var(--text-color-black-gray, #575d5e);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.56;
}
.hero__row {
    margin-top: 42px;
    display: flex;
    column-gap: 36px;
    align-items: center;
}
.hero__video {
    display: flex;
    align-items: center;
    column-gap: 16px;
}
.hero__video-play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 57px;
    background: transparent;
    border-radius: 50%;
    border: 4px solid;
    border-color: #143c3c transparent transparent #143c3c;
    rotate: -45deg;
    transition: 0.5s;
}
.hero__video-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    color: #fff;
    border-radius: 50%;
    background: #83a17d;
    rotate: 45deg;
}
.hero__video:hover .hero__video-play {
    cursor: pointer;
    border-color: #143c3c;
    rotate: 310deg;
}
.hero__video:hover .hero__video-circle {
    rotate: -310deg;
    background: #143c3c;
}
.hero__video-text {
    color: #152427;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.67;
}
.hero__video:hover {
    cursor: pointer;
}
.hero__media {
    position: relative;
}
.hero__img-blur {
    position: absolute;
    left: 156px;
    bottom: 81px;
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: -1;
}
.hero__images {
    display: flex;
    column-gap: 20px;
}
.hero__img {
    width: 202px;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
}
.hero__img:nth-child(2) {
    margin-top: 77px;
}
.hero__icon-1,
.hero__icon-2,
.hero__icon-3,
.hero__icon-4 {
    position: absolute;
}
.hero__icon-1 {
    top: -29px;
    left: -216px;
}
.hero__icon-2 {
    top: -30px;
    left: -170px;
}
.hero__icon-3 {
    bottom: -70px;
    right: 50px;
}
.hero__icon-4 {
    bottom: -40px;
    right: 10px;
}
/* Client */
.client {
    margin-top: 100px;
}
.client__inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1140px;
    height: 201px;
    border-radius: 100.5px;
    padding: 0 120px;
    background: var(--Scondery-color-light-green, #e2eddf);
}
.client__images:nth-child(3) {
    display: flex;
    align-items: center;
    column-gap: 11px;
}
.client__text {
    color: #163c35;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 400;
}
.client__images {
    transition: 0.5s;
}
.client__images:hover {
    transform: scale(1.3);
    cursor: pointer;
}
/* Services */
.service {
    margin-top: 53px;
    padding-top: 53px;
}
.service__row {
    margin-top: 12px;
    display: flex;
    align-items: center;
    column-gap: 422px;
}
.service__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    margin-top: 76px;
}
.service-item {
    width: 370px;
    border-radius: 20px;
    overflow: hidden;
}
.service-item:hover {
    cursor: pointer;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}
.service-item:hover .service-item__img {
    transform: scale(1.1);
}
.service-item:hover .service-item__body {
    padding-left: 18px;
}
.service-item__thumb {
    height: 318px;
    overflow: hidden;
}
.service-item__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.service-item__body {
    padding: 24px 0;
    transition: 0.5s;
}
.service-item__heading {
    color: var(--Primary-color-black, #152427);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}
.service-item__desc {
    max-width: 268px;
    margin-top: 18px;
    color: var(--text-color-light-gray, #7d8188);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 3);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* About */
.about {
    margin-top: 78px;
    padding-top: 77px;
}
.about__inner {
    display: flex;
    column-gap: 64px;
}
.about__media {
    position: relative;
    width: 58%;
}
.about__images {
    display: flex;
    column-gap: 21px;
}
.about__img {
    margin-top: 77px;
    width: 284px;
    height: 480px;
    border-radius: 210px;
    object-fit: cover;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}
.about__img:nth-child(2) {
    margin-top: 13px;
    width: 286px;
}
.about__icon-1,
.about__icon-2 {
    position: absolute;
}
.about__icon-1 {
    top: -30px;
    left: 46px;
}
.about__icon-2 {
    top: -30px;
    left: 90px;
}
.about__summary {
    position: absolute;
    right: -10px;
    bottom: 2px;
    padding: 19px 23px 11px;
    width: 143px;
    height: 144px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
    font-family: "Public Sans";
}
.about__summary-heading {
    color: var(--Primary-color-black, #152427);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}
.about__summary-desc {
    margin-top: 6px;
    color: var(--text-color-black-gray, #575d5e);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    opacity: 0.4;
}
.about__summary-text {
    color: #152427;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}
.about__summary-value {
    margin-top: 10px;
}
.about__summary-border {
    position: relative;
    margin-top: 3px;
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
}
.about__summary-border::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: inline-block;
    width: 40px;
    height: 2px;
    border-radius: 10px;
    background: #83a17d;
}
.about__summay-loading {
    margin-top: 3px;
    float: right;
}
.about__summary-btn {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #eaeaea;
    flex-shrink: 0;
    border: none;
}
.about__summary-circle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #143c3c;
    flex-shrink: 0;
}
.about__summary-team {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6px;
}
.about__summary-list {
    display: flex;
}
.about__summary-avatar {
    margin-left: -6px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #fff;
    object-fit: cover;
    flex-shrink: 0;
}
.about__heading::after {
    margin-top: 20px;
    display: none;
}
.about__desc {
    margin-top: 11px;
}
.abount__info {
    display: flex;
    column-gap: 24px;
    align-items: center;
    margin-top: 36px;
    padding-bottom: 20px;
    border-bottom: 1.75px solid #83a17d;
}
.about__info-value::after {
    display: none;
}
.abount__info-desc {
    max-width: 364px;
    color: var(--text-color-light-gray, #7d8188);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}
/* Process */
.process {
    margin-top: 39px;
    padding-top: 40px;
}
.process__heading {
    margin-top: 20px;
}
.process__list {
    margin-top: 81px;
}
.process-item {
    position: relative;
    display: grid;
    grid-template-columns: 0.2fr 0.3fr 1fr;
    align-items: center;
    padding: 57px 0 54px 30px;
    border-bottom: 2px solid #e2eddf;
    transition: 0.25s;
}
.process-item:hover {
    cursor: pointer;
    border-radius: 33px;
    background: var(--Scondery-color-light-green, #e2eddf);
}

.process-item__ep {
    color: var(--Primary-color-black-green, #143c3c);
    font-size: 7.2rem;
    font-weight: 600;
}
.process-item__info {
    margin-left: 20px;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.process-item__heading {
    color: var(--Primary-color-black, #152427);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}
.process-item__more {
    display: none;
    color: var(--text-color-black-gray, #575d5e);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    transition: 0.25s;
}
.process-item:hover .process-item__more {
    display: inline;
    text-decoration: underline;
}
.process-item__desc {
    max-width: 572px;
    margin-left: 175px;
    color: var(--text-color-light-gray, #7d8188);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.57;
}
.process-item:hover .process-item__desc {
    display: none;
}
.process-item__img {
    position: absolute;
    bottom: 0;
    right: 92px;
    width: 450px;
    height: 444px;
    object-fit: cover;
    display: none;
    transition: 0.5s;
}
.process-item:hover .process-item__img {
    display: block;
}
/* Project */
.project {
    margin-top: 148px;
    padding: 116px 0 63px;
    background: var(--Primary-color-black-green, #143c3c);
}
.project__header {
    display: flex;
    align-items: center;
    column-gap: 93px;
}
.project__heading {
    color: #e7f9f9;
}
.project__heading::after {
    background: var(--Scondery-color-blue, #83a17d);
}
.project__desc {
    color: var(--Scondery-color-gray, #6a8383);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}
.project__link {
    display: flex;
    align-items: center;
    column-gap: 26px;
    margin-top: 13px;
}
.project__link-text {
    color: #fff;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}
.project__link-icon:hover {
    cursor: pointer;
}
.project__media {
    position: relative;
    width: 100%;
    margin-top: 65px;
}
.project__video {
    width: 100%;
    height: 544px;
    border-radius: 22px;
    object-fit: cover;
}
.project__icon-1,
.project__icon-2 {
    position: absolute;
}
.project__icon-1 {
    right: -50px;
    top: -70px;
}
.project__icon-2 {
    right: -50px;
    bottom: 240px;
}
/* Feature */
.feature {
    margin-top: 70px;
    padding-top: 70px;
}
.feature__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feature__heading {
    text-align: center;
}
.feature__heading::after {
    display: none;
}
.feature__desc {
    margin-top: 20px;
    text-align: center;
    max-width: 547px;
}
.feature__list {
    margin-top: 103px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 45px;
}
.feature-item {
    text-align: center;
    width: 350px;
    height: 362px;
    padding: 60px 35px 103px;
    border-radius: 160px;
    border: 1.5px solid #cecece;
    transition: 0.5s;
}
.feature-item:hover {
    cursor: pointer;
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
    transform: translateY(-54px);
    border: none;
}
.feature-item__heading {
    display: block;
    margin-top: 26px;
    color: #152427;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
}
.feature-item__desc {
    margin-top: 9px;
    color: var(--text-color-light-gray, #7d8188);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
    max-width: 264px;
}
.feature-item__text {
    max-width: 284px;
}
/* Blog */
.blog {
    margin-top: 92px;
    padding-top: 92px;
}
.blog__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.blog__heading {
    max-width: 600px;
}
.blog__desc {
    max-width: 409px;
    color: var(--text-color-light-gray, #7d8188);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.63;
}
.blog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 90px;
}
.blog-item {
    width: 360px;
    border-radius: 40px 40px 20px 20px;
    overflow: hidden;
}
.blog-item__thumb {
    height: 317px;
    overflow: hidden;
}
.blog-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.blog-item__body {
    padding: 26px 14px 12px 0;
    transition: 0.5s;
}
.blog-item__btn {
    width: 107px;
    height: 26px;
    border-radius: 20px;
    background: var(--Scondery-color-light-green, #e2eddf);
    border: #fff;
}
.blog-item__heading {
    display: inline-block;
    margin-top: 20px;
    padding-bottom: 38px;
    border-bottom: 1px solid #c4c4c4;
    color: var(--Primary-color-black-green, #143c3c);
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}
.blog-item__date {
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 12px;
    float: right;
    margin-right: 8px;
    color: var(--text-color-black-gray, #575d5e);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}
.blog-item:hover {
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
}
.blog-item:hover .blog-item__img {
    transform: scale(1.2);
}
.blog-item:hover .blog-item__body {
    padding-right: 40px;
    padding-left: 25px;
    cursor: pointer;
}
.blog-item__btn {
    transition: 0.5s;
}
.blog-item:hover .blog-item__btn {
    color: white;
    background: var(--Primary-color-black-green, #143c3c);
}
.blog-item:hover .blog-item__heading {
    padding-bottom: 9px;
}
/* Footer */
.footer {
    margin-top: 102px;
    background: #143c3c;
    padding-top: 72px;
    padding-bottom: 50px;
}
.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__left {
    width: 38%;
}
.footer__heading {
    color: var(--text-color-white, #fff);
    font-size: 3.2rem;
    font-weight: 500;
}
.footer-form {
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.footer-form__input {
    width: 354px;
    height: 59px;
    border: none;
    border-bottom: 1px solid #6a8383;
    outline: none;
    background: transparent;
    color: var(--Scondery-color-gray, #6a8383);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}
.footer-form__input::placeholder {
    color: var(--Scondery-color-gray, #6a8383);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}
.footer-form__icon {
    margin-top: 22px;
    border-bottom: 1px solid #6a8383;
    padding-bottom: 20px;
}
.footer__social {
    display: flex;
    column-gap: 22px;
    margin-top: 47px;
}
.footer__social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #6a8383;
    transition: 0.5s;
}
.footer__social-btn:hover {
    background: #a75325;
}
.footer__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 55px;
}
.footer-column__heading {
    color: var(--text-color-white, #fff);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}
.footer__link {
    margin-top: 36px;
    color: var(--Scondery-color-gray, #6a8383);
    font-family: "Public Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 225% */
}
.footer__line {
    margin-top: 35px;
    width: 1140px;
    height: 1px;
    background: linear-gradient(90deg, #143C3C 2.28%, #295A5A 55.65%, rgba(38, 82, 82, 0.00) 102.06%);
}
